body {
    background-color:azure
}


.d{

    background-color:azure;
    height:100px;
    width:400px;
    border:dotted;
   margin:auto;
   margin-top:20px;
   font-size:30px;
   font-weight:bold;
   text-align:center;
   
   
   




}

.d#div5{
    
    margin-top:100px;
    width:500px;
   
}
